body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f2f5;
}

.App {
  display: flex;
}

/* App 전체를 덮는 un-authed 상태의 스타일 추가 */
.App-unauthed {
  width: 100%;
  min-height: 100vh;
  background-color: #f8f9fa;
}


.content {
  flex-grow: 1;
  padding: 30px;
  background-color: #ffffff;
  min-height: 100vh;
  margin-left: 250px; /* Navbar 너비만큼 왼쪽 여백 추가 */
  box-sizing: border-box;
}